<ion-grid fixed no-padding>
  <ion-row justify-content-center>
    <ion-col>
      <ion-button text-lowercase class="my-button" color="success" expand="block" fill="outline" mode="md"
        (click)="onClickLogin()">
        <span text-uppercase>I</span>niciar sesión
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col>
      <ion-button text-lowercase class="my-button" color="success" expand="block" mode="md" (click)="onClickRegistro()">
        <span text-uppercase>C</span>rear cuenta
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center style="padding-top: 8px;">
    <ion-col>
      <ion-button class="my-button" expand="block" fill="clear" color="medium" size="small" mode="md">
        <p text-lowercase>¿<span text-uppercase>O</span>lvidaste contraseña?</p>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>