.img-logo{
    width: 70px !important;
}
.img-paso{
    max-width: 300px !important;
    margin: 0px auto !important;
}
.move{
    position: absolute;
    top: 0px;
    margin-top: 1.5em;
    color: #3CBA5D;
}