<ion-slides pager="true" margin-top [options]="opSlider">
  <ion-slide style="display: block;">
    <div style="display: flex; justify-content: center; height: 140px;">
      <ion-img class="pick-avatar" src="./assets/avatares/av-1.png"></ion-img>
    </div>
  </ion-slide>
  <ion-slide style="display: block;">
    <div style="display: flex; justify-content: center; height: 140px;">
      <ion-img class="pick-avatar" src="./assets/avatares/av-2.png"></ion-img>
    </div>
  </ion-slide>
  <ion-slide style="display: block;">
    <div style="display: flex; justify-content: center; height: 140px;">
      <ion-img class="pick-avatar" src="./assets/avatares/av-3.png"></ion-img>
    </div>
  </ion-slide>
  <ion-slide style="display: block;">
    <div style="display: flex; justify-content: center; height: 140px;">
      <ion-img class="pick-avatar" src="./assets/avatares/av-2.png"></ion-img>
    </div>
  </ion-slide>
  <ion-slide style="display: block;">
    <div style="display: flex; justify-content: center; height: 140px;">
      <ion-img class="pick-avatar" src="./assets/avatares/av-3.png"></ion-img>
    </div>
  </ion-slide>
</ion-slides>